mixin ui-checkbox(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-checkbox${mod.trim()}` : `${mod.trim()}__ui-checkbox`).join(' ').trim() : ''

  .ui-checkbox(class=allMods)
    input(id=data.id name=data.id type='checkbox')&attributes(attributes)
    label(for=data.id)
      if data.p3
        +ui-p3(data.p3, data.p3mods)
      block
