mixin ui-radio(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-radio${mod.trim()}` : `${mod.trim()}__ui-radio`).join(' ').trim() : ''

  .ui-radio(class=allMods)
    input(id=data.id name=data.id type='radio')&attributes(attributes)
    label(for=data.id)
      if data.p3
        +ui-p3(data.p3, data.p3mods)
      block
