mixin ui-input(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-input${mod.trim()}` : `${mod.trim()}__ui-input`).join(' ').trim() : ''

  .ui-input(class=allMods class=(data ? '' : 'ui-input--no-label'))
    input(id=data.id type=(typeof(type) !== 'undefined' && type ? type : 'text'))&attributes(attributes)
    if data.p6
      label(for=id)
        +ui-p6(data.p6, data.p6mods)
    block
