mixin ui-h1(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h1${mod.trim()}` : `${mod.trim()}__ui-h1`).join(' ').trim() : ''

  h1.ui-h1(class=allMods)&attributes(attributes) !{title}
    block

mixin ui-h2(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h2${mod.trim()}` : `${mod.trim()}__ui-h2`).join(' ').trim() : ''

  h2.ui-h2(class=allMods)&attributes(attributes) !{title}
    block

mixin ui-h3(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h3${mod.trim()}` : `${mod.trim()}__ui-h3`).join(' ').trim() : ''

  h3.ui-h3(class=allMods)&attributes(attributes) !{title}
    block

mixin ui-h4(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h4${mod.trim()}` : `${mod.trim()}__ui-h4`).join(' ').trim() : ''

  h4.ui-h4(class=allMods)&attributes(attributes) !{title}
    block

mixin ui-h5(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h5${mod.trim()}` : `${mod.trim()}__ui-h5`).join(' ').trim() : ''

  h5.ui-h5(class=allMods)&attributes(attributes) !{title}
    block

mixin ui-h6(title, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-h6${mod.trim()}` : `${mod.trim()}__ui-h6`).join(' ').trim() : ''

  h6.ui-h6(class=allMods)&attributes(attributes) !{title}
    block
