mixin breadcrumbs(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `breadcrumbs${mod.trim()}` : `${mod.trim()}__breadcrumbs`).join(' ').trim() : ''

  ul.breadcrumbs(class=allMods)&attributes(attributes)
    block

mixin breadcrumbs-item(text, href, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `breadcrumbs-item${mod.trim()}` : `${mod.trim()}__breadcrumbs-item`).join(' ').trim() : ''

  li.breadcrumbs-item(class=allMods)&attributes(attributes)
    if(typeof(href) !== 'undefined' && href)
      a.breadcrumbs__link(href=href)!=text
    else
      span.breadcrumbs__text!=text
