mixin gallery(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `gallery${mod.trim()}` : `${mod.trim()}__gallery`).join(' ').trim() : ''
    const randomId = Math.random().toString(36).replace(/[^\da-z]+/g, '').slice(0, 6)

  .gallery(class=allMods data-fancybox-id=randomId)&attributes(attributes)
    block

mixin gallery-item(src, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `gallery-item${mod.trim()}` : `${mod.trim()}__gallery-item`).join(' ').trim() : ''

  a.gallery-item(class=allMods href=`../../images/${src}` data-fancybox)&attributes(attributes)
    img(src=`../../images/${src}` alt='')
