mixin ui-p1(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p1${mod.trim()}` : `${mod.trim()}__ui-p1`).join(' ').trim() : ''

  p.ui-p1(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p2(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p2${mod.trim()}` : `${mod.trim()}__ui-p2`).join(' ').trim() : ''

  p.ui-p2(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p3(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p3${mod.trim()}` : `${mod.trim()}__ui-p3`).join(' ').trim() : ''

  p.ui-p3(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p4(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p4${mod.trim()}` : `${mod.trim()}__ui-p4`).join(' ').trim() : ''

  p.ui-p4(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p5(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p5${mod.trim()}` : `${mod.trim()}__ui-p5`).join(' ').trim() : ''

  p.ui-p5(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p6(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p6${mod.trim()}` : `${mod.trim()}__ui-p6`).join(' ').trim() : ''

  p.ui-p6(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p7(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p7${mod.trim()}` : `${mod.trim()}__ui-p7`).join(' ').trim() : ''

  p.ui-p7(class=allMods)&attributes(attributes) !{data}
    block

mixin ui-p8(data, mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-p8${mod.trim()}` : `${mod.trim()}__ui-p8`).join(' ').trim() : ''

  p.ui-p8(class=allMods)&attributes(attributes) !{data}
    block
