mixin ui-swiper-buttons(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-swiper-buttons${mod.trim()}` : `${mod.trim()}__ui-swiper-buttons`).join(' ').trim() : ''

  .ui-swiper-buttons(class=allMods)&attributes(attributes)
    .swiper-button-prev
    .swiper-button-next
    block

mixin ui-swiper-pagination(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-swiper-pagination${mod.trim()}` : `${mod.trim()}__ui-swiper-pagination`).join(' ').trim() : ''

  .ui-swiper-pagination(class=allMods)&attributes(attributes)
    .swiper-pagination
      block

mixin ui-swiper-bullets(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-slider-bullets${mod.trim()}` : `${mod.trim()}__ui-slider-bullets`).join(' ').trim() : ''

  .ui-swiper-bullets(class=allMods)&attributes(attributes)
    .swiper-pagination
      block

mixin ui-swiper-fraction(mods)
  -
    const allMods = mods ? mods.split(',').map(mod => mod.trim()[0] === '-' ? `ui-swiper-fraction${mod.trim()}` : `${mod.trim()}__ui-swiper-fraction`).join(' ').trim() : ''

  .ui-swiper-fraction(class=allMods)&attributes(attributes)
    .swiper-pagination
      block
